<h1>Weatherforecast</h1>
<p>This module is a model mimicing the functioning of a weather forecasting engine. The forecasting is based on an assumption that the weather trends repeat itself if not exactly but to a great similarity.  It is a mathematical model inspired by the basic concepts of mean, variance and standard deviation.</p>
<p>Since there are no sensor data available for this module to provide real-time or futuristic weather factors we rely upon historical weather data to set the model running.</p>
<h2>Pre-Requisites</h2>
<h4>Install Java</h4>
<p>To run the application java 1.7 or version above needs to be installed in the machine.</p>
<h4>Install Maven</h4>
<h5>Following is the installation process:</h5>
<ul>
<li>Download Apache Maven and install it.</li>
<li>Unzip apache-maven-3.3.9-bin.zip</li>
<li>Add the bin directory of the created directory apache-maven-3.3.9 to the PATH environment variable.</li>
</ul>
<h4>Project setup</h4>
<ul>
<li>Ensure the history data is downloaded to provide input (<a href="https://www.wunderground.com">download here</a>)</li>
<li>Ensure the configuration and properties files are updated. Details in the configuration section of Approach note below.</li>
<li>Ensure that the following jar is built and used for execution:</li>
</ul>
<pre><code>weatherforecast.jar
</code></pre>
<p>A versioned jar with a similar name would be found in the target folder which does not have the Main Class preset.</p>
<h2>Execution Procedure</h2>
<h4>Modes</h4>
<p>This module works in 3 modes:</p>
<ul>
<li>-a =&gt; Forecasting for all future dates including today.</li>
<li>-d =&gt; Forecasting for a specific date queried for.</li>
<li>-r =&gt; Forecasting for a range of dates between queried start and end dates.</li>
</ul>
<h4>Command to Run</h4>
<pre><code>java -jar weatherforecast.jar &lt;mode&gt; &lt;properties_file_path&gt; [&lt;start_date&gt;] [&lt;end_date&gt;]
</code></pre>
<p>Eg. below:</p>
<pre><code>java -jar weatherforecast.jar -a /home/860735/Desktop/test/config/weatherinfo.properties
</code></pre>
<ol>
<li>mode - Mode parameter</li>
<li>properties_file_path- absolute path of properties file</li>
<li>start_date-
<ul>
<li>for mode -d =&gt; specific date to be forecasted</li>
<li>for mode -r =&gt; starting date of date range</li>
</ul>
</li>
<li>end_date-
<ul>
<li>for mode -r =&gt; end date of forecast</li>
</ul>
</li>
</ol>
<h2>Dataset Considered</h2>
<p>Historical weather data between 2005 and 2015 (both years inclusive) for 4 locations listed below:</p>
<ul>
<li>Sydney</li>
<li>Melbourne</li>
<li>Adelaide</li>
<li>Brisbane</li>
</ul>
<p>source: <a href="https://www.wunderground.com">Weather Underground</a></p>
<h2>Approach Note</h2>
<h4>Assumptions:</h4>
<ol>
<li>The weather on a day of the year bears resemblance to the trend of change in weather of the same day in earlier years.</li>
<li>Prediction over predicted data might arguably reduce the accuracy of prediction. Also since we are using the system memory (heap) instead of a database to hold the historical data, the model might fail at a specific time when the data generation crosses the system limits.</li>
</ol>
<h4>Configuration:</h4>
<p>The configuration file "locationinformation.xml" holds the static information regarding various geographic locations (weather stations) which are subject to weather forecasting. The configuration file reads as below:</p>
<p>PATH: weatherforecast/src/main/resources/config/locationinformation.xml</p>
<pre><code class="language-xml"><span class="hljs-pi">&lt;?xml version="1.0" encoding="UTF-8"?&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">locations</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">location</span> <span class="hljs-attribute">city</span>=<span class="hljs-value">"SYDNEY"</span> <span class="hljs-attribute">iatacode</span>=<span class="hljs-value">"SYD"</span> <span class="hljs-attribute">countrycode</span>=<span class="hljs-value">"AU"</span> <span class="hljs-attribute">cordinates</span>=<span class="hljs-value">"-33.86,151.21"</span> <span class="hljs-attribute">altitude</span>=<span class="hljs-value">"39"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">historydata</span> <span class="hljs-attribute">dir</span>=<span class="hljs-value">"/home/860735/Desktop/Projects/CBACaseStudy/Data/Sydney"</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">location</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">location</span> <span class="hljs-attribute">city</span>=<span class="hljs-value">"MELBOURNE"</span> <span class="hljs-attribute">iatacode</span>=<span class="hljs-value">"MEL"</span> <span class="hljs-attribute">countrycode</span>=<span class="hljs-value">"AU"</span> <span class="hljs-attribute">cordinates</span>=<span class="hljs-value">"-37.83,144.98"</span> <span class="hljs-attribute">altitude</span>=<span class="hljs-value">"7"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">historydata</span> <span class="hljs-attribute">dir</span>=<span class="hljs-value">"/home/860735/Desktop/Projects/CBACaseStudy/Data/Melbourne"</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">location</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">location</span> <span class="hljs-attribute">city</span>=<span class="hljs-value">"ADELAIDE"</span> <span class="hljs-attribute">iatacode</span>=<span class="hljs-value">"ADL"</span> <span class="hljs-attribute">countrycode</span>=<span class="hljs-value">"AU"</span> <span class="hljs-attribute">cordinates</span>=<span class="hljs-value">"-34.92,138.62"</span> <span class="hljs-attribute">altitude</span>=<span class="hljs-value">"48"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">historydata</span> <span class="hljs-attribute">dir</span>=<span class="hljs-value">"/home/860735/Desktop/Projects/CBACaseStudy/Data/Adelaide"</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">location</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">location</span> <span class="hljs-attribute">city</span>=<span class="hljs-value">"BRISBANE"</span> <span class="hljs-attribute">iatacode</span>=<span class="hljs-value">"BRS"</span> <span class="hljs-attribute">countrycode</span>=<span class="hljs-value">"AU"</span> <span class="hljs-attribute">cordinates</span>=<span class="hljs-value">"-27.47,153.02"</span> <span class="hljs-attribute">altitude</span>=<span class="hljs-value">"27"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">historydata</span> <span class="hljs-attribute">dir</span>=<span class="hljs-value">"/home/860735/Desktop/Projects/CBACaseStudy/Data/Brisbane"</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">location</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">locations</span>&gt;</span>
</code></pre>
<p>The above xml adheres to a schema document "locationinformation.xsd" as follows:</p>
<p>PATH: weatherforecast/src/main/resources/config/locationinformation.xsd</p>
<pre><code class="language-xml"><span class="hljs-pi">&lt;?xml version="1.0" encoding="UTF-8"?&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">xs:schema</span> <span class="hljs-attribute">xmlns:xs</span>=<span class="hljs-value">"http://www.w3.org/2001/XMLSchema"</span> <span class="hljs-attribute">elementFormDefault</span>=<span class="hljs-value">"qualified"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">xs:element</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"locations"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">xs:complexType</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">xs:sequence</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">xs:element</span> <span class="hljs-attribute">maxOccurs</span>=<span class="hljs-value">"unbounded"</span> <span class="hljs-attribute">ref</span>=<span class="hljs-value">"location"</span>/&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">xs:sequence</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">xs:complexType</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">xs:element</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">xs:element</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"location"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">xs:complexType</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">xs:sequence</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">xs:element</span> <span class="hljs-attribute">ref</span>=<span class="hljs-value">"historydata"</span>/&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">xs:sequence</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">xs:attribute</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"altitude"</span> <span class="hljs-attribute">use</span>=<span class="hljs-value">"required"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"xs:integer"</span>/&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">xs:attribute</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"city"</span> <span class="hljs-attribute">use</span>=<span class="hljs-value">"required"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"xs:NCName"</span>/&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">xs:attribute</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"cordinates"</span> <span class="hljs-attribute">use</span>=<span class="hljs-value">"required"</span>/&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">xs:attribute</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"countrycode"</span> <span class="hljs-attribute">use</span>=<span class="hljs-value">"required"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"xs:NCName"</span>/&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">xs:attribute</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"iatacode"</span> <span class="hljs-attribute">use</span>=<span class="hljs-value">"required"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"xs:NCName"</span>/&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">xs:complexType</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">xs:element</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">xs:element</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"historydata"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">xs:complexType</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">xs:attribute</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"dir"</span> <span class="hljs-attribute">use</span>=<span class="hljs-value">"required"</span>/&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">xs:complexType</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">xs:element</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">xs:schema</span>&gt;</span>

</code></pre>
<h4>Properties:</h4>
<p>The following properties help execute the module:</p>
<p>PATH: weatherforecast/src/main/resources/config/weatherinfo.properties</p>
<pre><code>CONFIG_LOCATION=/home/860735/cbaworkspace/weatherforecast/src/main/resources/config/locationinformation.xml
GLOBAL_WARMING_COEFF=6
</code></pre>
<p>The CONFIG_LOCATION is the location of "locationinformation.xml" which holds the static details of the weather stations.</p>
<p>The GLOBAL_WARMING_COEFF is introduced to make the model more realistic as the weather varies gradually year after year due to Global warming which can be plotted on a logarithmic scale. Increasing this coefficient slows down the pace of temperature rise while decreasing the same would shoot the temperature rise. The current value '6' is an optimal value based upon theoritical study which states that the temperature rise in the next 40 years would be between 0.4 degree to 2.0 degree on the celcius scale.</p>
<h4>Functional Description:</h4>
<p>The historical data is loaded into memory in a manner such that whenever a query for forecasting weather for any day in the year, is made, it fetches the weather information from the previous years for the same day as reference. This data is shuffled and a window slice of 3 historical weather information is selected to process the variance-deviation model.</p>
<p>[Note: For the leap years alone, we consider the 366th and 365th day for analysis. This is because we only have 2 historical data on 366th day]</p>
<p>The model finds the average or mean value for each weather factors (temperature, pressure and humidity) from the above filtered data.</p>
<pre><code>Mean(μ) = ∑(Xij)/j =&gt; (X(i)+X(i+1)....X(j))/j 
</code></pre>
<p>; where j is the total number of samples</p>
<p>It then fetches the area of distribution of each weather factor (which we call the variance).</p>
<pre><code>Variance(σ^2) = ∑ij[f(X(ij),μ)]/j 
</code></pre>
<p>Here,</p>
<pre><code>f(X(ij),μ) = (Xi-μ)^2
</code></pre>
<p>For each of the selected weather information items, we find the variance polarity, i.e the direction of trend which comes as positive,negative or neutral, as it deviates from the mean. Finally, the standard deviation is found, which ideally provides the optimal range within which the weather factor has been distributed.</p>
<pre><code>(σ)=SQRT(Variance)
</code></pre>
<p>; where SQRT is the square root function.</p>
<p>The above deviation, again, may be in a any polarity, hence indicating the significance of variance polarity.</p>
<p>The deviation from the mean (μ), so found, is calculated considering the polarity of variance. This decides the final value of the weather factor.</p>
<p>To make the model more realistic as the weather varies gradually year after year due to Global warming which can be plotted on a logarithmic scale. The following formula was derived based on various assumptions related to Global warming and its effect on weather factors.</p>
<pre><code>Δt = (δ/&lt;GLOBAL_WARMING_COEFF&gt;)*Math.log10(2)
</code></pre>
<p>Here,</p>
<ul>
<li>Δt is the factorial increase in temperature.</li>
<li>δ is the difference in years from the last year in historical data.</li>
<li>GLOBAL_WARMING_COEFF is the factor governing the pace of global warming.</li>
</ul>
<p>This factor gets added to the temperature.</p>
<p>Finally, based on the values forecasted for the weather factors, the weather type is categorized as Cloudy, Rainy, Cool, Cold, Warm and Hot.</p>
<h4>Technical Description:</h4>
<h5>Classes of Significance</h5>
<ol>
<li>WeatherForecaster.java - This class acts as the starting point of the application. it loads the configuration file using JAXB and spawns a thread for each work station.</li>
<li>ForecastThread.java - This is a thread class that runs for each workstation configured in the configuration file.</li>
<li>VarianceModelImpl.java - This class does the core functional implementation and has the process to fetch the weather factors for any date.</li>
<li>AlgorithmsUtil.java - The mathematical logic is embedded in this class.</li>
<li>WeatherDetailsBean.java - This is the model (DTO) class carrying the weather information for any day of any year.</li>
</ol>
<h5>Process Flow</h5>
<p>Having ensured that the directory locations mentioned in the "dir" attribute of the "historydata" tag in xml has the right set of history data in files having per year data, the process is triggered by the WeatherForecaster.java.  The configuration file is loaded into the JAXB class instances. The rest of the process works in a multi-threaded system where a single thread encompasses all the data loading, processing and prediction for a single location.</p>
<p>The ForecasThread.java class is the code bearer for the threads implementing the Runnable interface. The multithreading is implemented using ExecutorService, as ExecutorService abstracts away many of the complexities associated with the lower-level abstractions like raw Thread. It provides mechanisms for safely starting, closing down, submitting, executing, and blocking on the successful or abrupt termination of tasks (expressed as Runnable or Callable). It also gives a flexible thread pooling.</p>
<p>The core logic is designed to calculate the weather factor values for a single day only and this lies in the VarianceModelImpl.java. The thread appropriately calls the same method in a way to run in 3 modes mentioned earlier in the "Execution Procedure" Section. The mathematical calculations behind the model are contained in the AlgorithmsUtil.java which is called in by the former.</p>
<p>The final weather factors forecasted is collected and based on predefined conditions classified into 6 weather types mentioned earlier. Finally the thread emits the result in string format to the standard output media (console by default) in the following format:</p>
<pre><code>ADL|-34.92,138.62,48|2020-12-17T12:00:00Z|HOT|+28.4|1014.5|53
</code></pre>
<p>Here, the output can be read in the following format:</p>
<pre><code>&lt;IATA_CODE&gt;|latitude,longitude,altitude|date_time|Weather_Type|temperature|pressure|relative_humidity
</code></pre>
<h2>Challenges</h2>
<ol>
<li>The accuracy of the model is restricted to the minimal historical data.</li>
<li>Logically, the recent weather factors affect the future weather factors as compared to the very early years. This is not currently handled in the model.</li>
</ol>
<p>Note: The second challenge might be resolved by providing weightage to recent weather factors but this might bias the system to have close resemblance to the recent data.</p>
<h2>References</h2>
<h4>TestCases:</h4>
<p>JUnit test cases are provided in the path</p>
<pre><code>"weatherforecast/src/test/java"
</code></pre>
<p>which would run on build using Maven too.</p>
<h4>Documentation:</h4>
<p>Please find the documentation in the following paths:</p>
<pre><code>"weatherforecast/documents/javadoc" =&gt; Auto-generated javadoc
</code></pre>
<p>Also,</p>
<pre><code>"weatherforecast/documents/weatherforecast.html" =&gt; Detailed documentation
</code></pre>
<h4>Samples:</h4>
<p>The sample input and output could be located  in the following paths:</p>
<pre><code>weatherforecast/src/test/resources/sampleinput
</code></pre>
<pre><code>weatherforecast/src/test/resources/sampleoutput
</code></pre>
